<h3>新建學生資料</h3>

<% js("sub_area" , "jquery.validate") %>
<% content_for :header do %>
  <script>
    // 前台驗證的語法,需搭配在控制器裏的acton
    /**/
    $.validator.messages.required = "請填寫此欄位";
    $.validator.messages.remote = "請修正此欄位";
    
    jQuery(function($){
      ///$(function() { alert('Ready to do your bidding!'); });     
      //alert($('#student_form').length + ' elements!');      
       $("#student_form").validate({
        rules: {
          "student[student_id]": {
            required: true,
            remote:"/students/student_id_check/"
          }
        },
        messages: {
          "student[student_id]": {
            required:function(){alert("請填寫學生ID....")},
            remote:function(){alert("這學生ID已經被使用....")}
          }
        }
      });
      //輸入前台學生驗證式搭配 remote 資料庫student_id 驗證
      
      $(".date_picker").datepicker({              
        showMonthAfterYear: true,
        dateFormat : 'yy-mm-dd',
        yearRange: '1928:2016',
        changeMonth: true,
        changeYear: true
      });      
      
      $(".main_area , .sub_area").change(function(){
        $("input.road_name_setting").each(function(){
          var temp = $(this).siblings("select.road_name_setting");
          if(($(this).attr("value") + "").length == 0){
            $(this).addClass("hidden").attr("value" , "").attr("name" , "");
            temp.removeClass("hidden").attr("name" , $(this).attr("ref"));
          }else{
            temp.addClass("hidden").attr("name" , "");
            $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
          }
          temp.find("option:not(.title)").remove();
        })
        
        if($('.main_area').attr("value") != "%" && $('.sub_area').attr("value") != "%"){
          var temp = $('.main_area').attr("value");
          var temp2 = $('.sub_area').attr("value");
          $.get("/maps/area_road_" + temp + "_" + temp2 , null, function(txt){
            $(".road_selector .first_title").html("★請下拉選擇").attr("selected" , "true");
            $(".road_selector").html($(".road_selector").html() + txt);
          });
        }else{
          $(this).siblings("select.road_name_setting").each(function(){
            $(this).find(".first_title").html("★請先選擇地區").attr("selected" , "true");
          })
        }
      })
      //slot吃角子老虎(拉霸)
      $("input.road_name_setting").keyup(function(e){
        if($(this).attr("value").length == 0 && (e.keyCode == 8 || e.keyCode == 46)){
          $(this).addClass("hidden").attr("name" , "");
          $(this).siblings("select.road_name_setting").removeClass("hidden").attr("name" , $(this).attr("ref")).find(".first_title").attr("selected" , "true");
        }else{
          $(this).siblings("select.road_name_setting").addClass("hidden").attr("name" , "");
          $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
        }
      }).each(function(){
        if($(this).attr("value").length > 1){
          $(this).siblings("select.road_name_setting").addClass("hidden").attr("name" , "");
          $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
        }else{
          $(this).addClass("hidden").attr("name" , "");
          $(this).siblings("select.road_name_setting").removeClass("hidden").attr("name" , $(this).attr("ref"));
        }
      })
      $("select.road_name_setting").live("change" , function(){
        if($(this).attr("value") == "%"){
          $(this).addClass("hidden").attr("name" , "");
          $(this).siblings("input.road_name_setting").removeClass("hidden").attr("name" , $(this).attr("ref"));
        }else{
          $(this).siblings("input.road_name_setting").addClass("hidden").attr("name" , "");
          $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
        }
      }).each(function(){
        if($(this).attr("value") == "%"){
          temp = $(this).find(".first_title");
          if(temp[0]){
            temp.attr("selected" , "true");
          }else{
            $(this).find("option:first").attr("selected" , "true");
          }
        }
      })
    })
  </script>
  <style>
    /* css no IE support */
    .hidden{
      display:none;
    }
      
    body {
      font-size:20px;
      line-height:20px;
      background: #fcfff4; /* Old browsers */
      background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
    }
    input:hover , input:focus{      
      border:#ff9900 solid 3px;      
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }/*...okokok*/
    input {     
      border:solid 3px #e6cd8f;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; 
    }  
    .field1 {
      /* background-color: #A7C6E8; */
      margin-bottom: 5px;
      border:solid  #6f7D94;
      /* -moz-border-radius: 0px 5px 0px 5px; */
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      background-color: #E2EAFF;
        
    }
    .field2 {
      margin-top: 5px;
      border:solid #6F7D94;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      background-color: #8090AB;
    }
    .centerline {
      margin: 5px auto;
      background: #e2eaff; /* Old browsers */
      background: -moz-linear-gradient(top, #e2eaff 0%, #6f7d94 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2eaff), color-stop(100%,#6f7d94)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #e2eaff 0%,#6f7d94 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #e2eaff 0%,#6f7d94 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #e2eaff 0%,#6f7d94 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eaff', endColorstr='#6f7d94',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #e2eaff 0%,#6f7d94 100%); /* W3C */
    }   
  </style>
<% end %>
<%= form_for(@student , :html => {:id => "student_form"}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
        
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field1">
    <%= f.label :student_id, "1.請輸入學籍號碼" %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field2">
    <%= f.label :cname, "2.請輸入中文姓名" %><br />
    <%= f.text_field :cname %>
  </div>
  <div class="field1">
    <%= f.label :ename, "3.請輸入英文名字" %><br />
    <%= f.text_field :ename %>
  </div>
    
  <div class="field2">
    <%= f.label :birthday, "4.請選擇您的生日" %><br />
    <%= f.text_field :birthday, :class => "date_picker" %>     
  </div>
    
  <div class="field1">
    <%= f.label :gender, "5.性別" %><br />
    <%=  f.select :gender, [ ["男", "M"], ["女", "F"] ] %>
  </div>
  <div class="field2">
    <%= f.label :email, "6.請輸入您的電子郵件" %><br />
    <%= f.text_field :email %>
  </div>  
  <div class="field slot">
    <%= f.label :address, "7.請輸入您的住址" , :class => "tip" , :title => "lkwjeflk|gerg" %><br />
    <%=raw area_select(f) %><%= f.text_field(:road_name , :class => "road_name_setting hidden" , :ref => "#{f.object.class.to_s.downcase}[road_name]") %><select class="road_selector selector road_name_setting" ref="<%= "#{f.object.class.to_s.downcase}[road_name]" %>"><option class="title first_title" value="">★請先選擇地區</option><option class="title" value="%">★自訂輸入</option></select><%= f.text_field :address %>
  </div>
  <div class="field1">
    <%= f.label :telephone , "8.請輸入您的市內電話"%><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field2">
    <%= f.label :mobile_phone, "9.請輸入您的手機號碼" %><br />
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :graduated, "13.請您勾選您的學歷?" %><br />
      <% @graduateds.each do |gr| %>      
        <%= check_box_tag "student[graduated_ids][]", gr.id, @student.graduated.map(&:id).include?(gr.id) %> <%= gr.reason_desc %>
      <% end %>   
      <%= hidden_field_tag 'student[graduated_ids][]','' %>   
    </div>
    <div class="field2">
      <%= f.label :graduated_other,"其他"%><br />
      <%= f.text_field :graduated_other %>
    </div>
  </div>
  <div class="field1">
    <%= f.label :sales ,"11.請輸入業務人員的姓名"%><br />
    <%= f.text_field :sales %>
  </div>
  <div class="field2">
    <%= f.label :introduce ,"12.請輸入推廣人員的姓名"%><br />
    <%= f.text_field :introduce %>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :whylearn, "13.請您勾選您學習英文的動機為何?" %><br />
      <% @whylearns.each do |w| %>      
        <%= check_box_tag "student[whylearn_ids][]", w.id, @student.whylearn.map(&:id).include?(w.id) %> <%= w.reason_desc %>
      <% end %>   
      <%= hidden_field_tag 'student[whylearn_ids][]','' %>   
    </div>
    <div class="field2">
      <%= f.label :whylearn_other,"其他"%><br />
      <%= f.text_field :whylearn_other %>
    </div>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :been2other, "14.請您勾選您是否在其他地方有參加英文進修課程?" %><br />
      <% @been2others.each do |been| %> 
        <%= radio_button_tag "student[been2other_ids][]",been.id, @student.been2other.map(&:id).include?(been.id) %> <%= been.reason_desc %>
      <% end %> 
      <%= hidden_field_tag 'student[been2other_ids][]','' %> 
    </div>
    <div class="field2">
      <%= f.label :been2other_other ,"其他"%><br />
      <%= f.text_field :been2other_other %>
    </div>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :whylearn, "15.請您勾選您最想加強的語言能力?" %><br />
      <% @mostneeds.each do |mo| %>      
        <%= check_box_tag "student[mostneed_ids][]", mo.id, @student.mostneed.map(&:id).include?(mo.id) %> <%= mo.reason_desc %>
      <% end %>   
      <%= hidden_field_tag 'student[mostneed_ids][]','' %>   
    </div>
    <div class="field2">
      <%= f.label :mostneed_other ,"其他"%><br />
      <%= f.text_field :mostneed_other %>
    </div>
  </div>
  <div class="centerline">  
    <div class="field1">
      <%= f.label :howcanimprove, "16.您覺得要如何才能學好英文?" %><br />
      <% @howcanimproves.each do |h| %> 
        <%= check_box_tag "student[howcanimprove_ids][]", h.id, @student.howcanimprove.map(&:id).include?(h.id) %> <%= h.reason_desc %>
      <% end %> 
      <%= hidden_field_tag 'student[howcanimprove_ids][]','' %> 
    </div>
    <div class="field2">
      <%= f.label :howcanimprove_other, "其他" %><br />
      <%= f.text_field :howcanimprove_other %>
    </div>  
    <div class="centerline">
      <div class="field1">
        <%= f.label :mostimportchoice, "17.選擇語言中心時,您認為什麼最重要?" %><br />
        <% @mostimportchoices.each do |m| %>      
          <%= check_box_tag "student[mostimportchoice_ids][]", m.id, @student.mostimportchoice.map(&:id).include?(m.id) %> <%= m.reason_desc %>
        <% end %>   
        <%= hidden_field_tag 'student[mostimportchoice_ids][]','' %>   
      </div>
      <div class="field2">
        <%= f.label :mostimportchoice_other, "其他"%><br />
        <%= f.text_field :mostimportchoice_other %>
      </div>
    </div>
    <div class="centerline">
      <div class="field1">
        <%= f.label :weeklyusage, "18.您每週會說到英文的時數為?" %><br />
        <% @weeklyusages.each do |w| %>      
          <%= radio_button_tag  "student[weeklyusage_ids][]", w.id, @student.weeklyusage.map(&:id).include?(w.id) %> <%= w.reason_desc %>
        <% end %>   
        <%= hidden_field_tag 'student[weeklyusage_ids][]','' %>   
      </div>
    </div>
    <div class="centerline">
      
      <div class="field1">
        <%= f.label :howuknowu, "19.您如何知道科見美語Direct 的課程?" %><br />
        <% @howuknowus.each do |ho| %>      
          <%= check_box_tag "student[howuknowu_ids][]", ho.id, @student.howuknowu.map(&:id).include?(ho.id) %> <%= ho.reason_desc %>
        <% end %>   
        <%= hidden_field_tag 'student[howuknowu_ids][]','' %>   
      </div>
      <div class="field2">
        <%= f.label :howuknowus_other, "其他" %><br />
        <%= f.text_field :howuknowus_other %>
      </div>
    </div>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :frequentmag, "20.您經常閱讀那些雜誌或瀏覽那些網站?" %><br />
      <% @frequentmags.each do |f| %>      
        <%= check_box_tag "student[frequentmag_ids][]", f.id, @student.frequentmag.map(&:id).include?(f.id) %> <%= f.reason_desc %>
      <% end %>   
      <%= hidden_field_tag 'student[frequentmag_ids][]','' %>   
    </div>
    <div class="field2">
      <%= f.label :frequentmag_other, "其他" %><br />
      <%= f.text_field :frequentmag_other %>
    </div>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :incomelevel, "21.請您勾選您的月收入" %><br />
      <% @incomelevels.each do |income| %> 
        <%= radio_button_tag "student[incomelevel_ids][]", income.id, @student.incomelevel.map(&:id).include?(income.id) %> <%= income.reason_desc %>
      <% end %> 
      <%= hidden_field_tag 'student[incomelevel_ids][]','' %> 
    </div>
  </div>
  <div class="centerline">
    <div class="field1">
      <%= f.label :notice, "22.您是經由什麼方式來到科見美語的?" %><br />
      <% @notices.each do |n| %>      
        <%= radio_button_tag "student[notice_ids][]", n.id, @student.notice.map(&:id).include?(n.id) %> <%= n.reason_desc %>
      <% end %>   
      <%= hidden_field_tag 'student[notice_ids][]','' %>   
    </div>
    <div class="field2">
      <%= f.label :notice_other, "23.請輸入其他的附註事項" %><br />
      <%= f.text_area :notice_other %>
    </div>
  </div>
  <div class="centerline">
    <div class="field">
      <%= f.label :keytime, "24.請輸入資料建檔日期" %><br />
      <%= f.text_field :keytime, :class=>"date_picker" %>  
    </div>
  </div>
    
  <div class="actions">
    <%= f.submit :value => "完成輸入學生資料" %>
  </div>
<% end %>


<%= link_to 'Back', students_path %>
