<p id="notice"><%= notice %></p>
<p>
  <b>Student:</b>
  <%= @student.student_id %>
</p>
<p>
  <b>Cname:</b>
  <%= @student.cname %>
</p>
<p>
  <b>Ename:</b>
  <%= @student.ename %>
</p>
<p>
  <b>Birthday:</b>
  <%= @student.birthday %>
</p>
<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>
<p>
  <b>Email:</b>
  <%= @student.email %>
</p>
<p>
  <b>Address:</b>
  <%= area_name(@student) %><%= @student.road_name %><%= @student.address %>
</p>
<p>
  <b>Telephone:</b>
  <%= @student.telephone %>
</p>
<p>
  <b>Mobile phone:</b>
  <%= @student.mobile_phone %>
</p>
<p>
  <b>Sales:</b>
  <%= @student.sales %>
</p>
<p>
  <b>Introduce:</b>
  <%= @student.introduce %>
</p>
<p>
  <b>請輸入您學習英文動機的其他理由:</b>
  <% @whylearns.each do |w| %>      
    <%= check_box_tag "student[whylearn_ids][]", w.id, @student.whylearn.map(&:id).include?(w.id) %> <%= w.reason_desc %>
  <% end %>
  <br />
  <%= @student.whylearn_other %>
</p>
<p>
  <b>請輸入您曾在其他地方有參加的英文進修課程:</b>
  <% @been2others.each do |been| %> 
    <%= radio_button_tag "student[been2other_ids][]",been.id, @student.been2other.map(&:id).include?(been.id) %> <%= been.reason_desc %>
  <% end %>
  <br />
  <%= @student.been2other_other %>
</p>
<p>
  <b>請您勾選您最想加強的語言能力:</b>
  <% @mostneeds.each do |mo| %>      
    <%= check_box_tag "student[mostneed_ids][]", mo.id, @student.mostneed.map(&:id).include?(mo.id) %> <%= mo.reason_desc %>
  <% end %>
  <br />
  <%= @student.mostneed_other %>
</p>
<p>
  <b>您覺得要如何才能學好英文?:</b>
  <% @howcanimproves.each do |h| %> 
    <%= check_box_tag "student[howcanimprove_ids][]", h.id, @student.howcanimprove.map(&:id).include?(h.id) %> <%= h.reason_desc %>
  <% end %>
  <br />
  <%= @student.howcanimprove_other %>
</p>
<p>
  <b>請輸入選擇語言中心時,其他的您認為最重要的</b>
  <% @mostimportchoices.each do |m| %>      
    <%= check_box_tag "student[mostimportchoice_ids][]", m.id, @student.mostimportchoice.map(&:id).include?(m.id) %> <%= m.reason_desc %>
  <% end %>
  <br />
  <%= @student.mostimportchoice_other %>   
</p>
<p>
  <b>您經常閱讀那些雜誌或瀏覽那些網站</b>
  <% @frequentmags.each do |f| %>      
    <%= check_box_tag "student[frequentmag_ids][]", f.id, @student.frequentmag.map(&:id).include?(f.id) %> <%= f.reason_desc %>
  <% end %>
  <br />
  <%= @student.frequentmag_other %>
</p>
<p>
  <b>您每週會用到英文的時數為？</b>
   <% @weeklyusages.each do |w| %>      
          <%= radio_button_tag  "student[weeklyusage_ids][]", w.id, @student.weeklyusage.map(&:id).include?(w.id) %> <%= w.reason_desc %>
        <% end %>   
</p>
<p>
  <b>您如何知道科見美語Direct 的課程?</b>   
  <% @howuknowus.each do |ho| %>      
    <%= check_box_tag "student[howuknowu_ids][]", ho.id, @student.howuknowu.map(&:id).include?(ho.id) %> <%= ho.reason_desc %>
  <% end %>
  <br />
  <%= @student.howuknowus_other %>
</p>
<p>
  <b>請您勾選您的月收入</b>
    <% @incomelevels.each do |income| %> 
        <%= radio_button_tag "student[incomelevel_ids][]", income.id, @student.incomelevel.map(&:id).include?(income.id) %> <%= income.reason_desc %>
      <% end %>
</p>
<p>
  <b>您是經由什麼方式來到科見美語的</b>
  <% @notices.each do |n| %> 
    <%= radio_button_tag "student[notice_ids][]", n.id, @student.notice.map(&:id).include?(n.id) %> <%= n.reason_desc %>
  <% end %> 
</p>
<p>
  <b>您輸入的其他附註事項</b>
  <br />
  <%= @student.notice_other %>
</p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>