<%= form_for(@reged) do |f| %>
  <% if @reged.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reged.errors.count, "error") %> prohibited this reged from being saved:</h2>

      <ul>
      <% @reged.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reason_desc %><br />
    <%= f.text_field :reason_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
