<p id="notice"><%= notice %></p>

<p>
  <b>Studentinfo:</b>
  <%= @studentinfofront.studentinfo_id %>
</p>

<p>
  <b>Cname:</b>
  <%= @studentinfofront.cname %>
</p>

<p>
  <b>Ename:</b>
  <%= @studentinfofront.ename %>
</p>

<p>
  <b>Birthday:</b>
  <%= @studentinfofront.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @studentinfofront.gender %>
</p>

<p>
  <b>Address:</b>
  <%= @studentinfofront.address %>
</p>

<p>
  <b>Telephone:</b>
  <%= @studentinfofront.telephone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @studentinfofront.mobile_phone %>
</p>

<p>
  <b>School:</b>
  <%= @studentinfofront.school %>
</p>

<p>
  <b>Sales:</b>
  <%= @studentinfofront.sales %>
</p>

<p>
  <b>Introduce:</b>
  <%= @studentinfofront.introduce %>
</p>


<%= link_to 'Edit', edit_studentinfofront_path(@studentinfofront) %> |
<%= link_to 'Back', studentinfofronts_path %>
